:root {
    --cardmult: 80;
}

#hand {
    /* width: 60%; */
    position: relative;
    height: calc(5px * var(--cardmult));
    /* left: 20%;
    top: 15%; */
    /* Lowered slightly to give hover room */
}

.card {
    position: absolute;

    /* Use the variables from React */
    bottom: var(--bottom-base);
    transform: rotate(var(--rot)) scale(.5);

    /* The Secret Sauce: Rotation Point */
    transform-origin: bottom center;

    /* Transitions: make sure transform is included */
    transition:
        left 0.5s ease,
        bottom 0.5s ease,
        transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1),
        box-shadow 0.3s ease;

    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

/* Hover Effect */
.card:hover {
    /* Lift the card: -30px up, keep the rotation, and scale up slightly */
    bottom: calc(var(--bottom-base) + 40px) !important;
    transform: rotate(var(--rot)) scale(.6);
    z-index: 100 !important;
}

.card .value {
    font-weight: 900;
    font-size: 32px;
    line-height: 1;
    color: #333;
}

.card.red {
    color: #d12d36;
}

.card.black {
    color: #222;
}

.card .suit {
    font-size: 40px;
    /* Make the symbol big and clear */
    align-self: center;
    margin-top: 10px;
}