.card-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 12px;
}

.card-game-card {
    zoom: 0.4;
    transition: 1s;
}

.card-hover {
    transform: scale(1.1);
    z-index: 10;
}


/* Mobile styles */
@media (max-width: 768px) {
    .card-game-card {
        zoom: .3;
    }
}