.header-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.header-title {
    color: white !important;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.button {
    margin: 0px 0px 0px 20px;
    height: 40px;
    cursor: pointer;
}