.board {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 12px;
}

.no-battlers-card {
    width: 180px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: large;
    font-weight: 500
}

.card-game-card {
    zoom: 0.4;
    transition: 1s;
}

.card-hover {
    transform: scale(1.1);
    z-index: 10;
}


/* Mobile styles */
@media (max-width: 768px) {
    .card-game-card {
        zoom: .3;
    }
}